.container-fluid {
  z-index: 0;
}

.d {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-image: url(/sass/oka.jpg);
  background-repeat: no-repeat;
  background-size: 100% 120%;
  mix-blend-mode: luminosity;
  background-position: center center;
  height: 100vh;
  width: 100%;
}

.filter {
  background-color: #04bba394;
  height: 100vh;
  width: 45%;
  z-index: 2;
}

.nav-toop {
  position: fixed;
  z-index: 100;
  width: 91%;
  height: auto;
  background: #585d65;
  border-radius: 50px;
  top: 4rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.nav-toop img {
  height: 3.5rem;
  width: auto;
  margin-left: 2rem;
}

.nav-toop .nav-item a {
  color: white;
  text-decoration: none;
  padding: 0;
  margin: 0 1rem;
  font-size: 0.78rem;
  font-weight: 800;
  text-transform: uppercase;
}

.nav-toop .nav-item a:hover {
  color: #68e0cf;
}

.nav-toop .btn {
  border-radius: 50px;
  border: 1.5px solid silver;
}

.nav-toop .btn:hover {
  border: 1.5px solid #68e0cf;
}

.nav-toop .btn:hover a {
  color: #68e0cf;
}

.borderlar {
  display: none;
  position: absolute;
  background: #646970;
}

.borderlar .nav-item {
  height: 40px;
  width: 170px;
  border-bottom: 0.01px solid #8f8f8f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.borderlar .nav-item a {
  font-size: 0.7rem;
  font-weight: 800;
}

.borderlar .nav-item a:hover {
  color: #68e0cf;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hoverul:hover .borderlar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right-side {
  width: 5rem;
  background: #373b40;
  position: fixed;
  right: 1rem;
  height: 100%;
}

.right-fixed-side {
  z-index: 1;
  background: #373b40;
  height: 100%;
  width: 5rem;
  right: 0;
  border-left: 0.5px solid white;
}

.right-fixed-side .btn {
  height: 3rem;
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem 0;
  color: white;
  border: 0.5px solid gray;
}

.right-fixed-side .btn:nth-child(3) {
  margin-bottom: 3rem;
}

.right-fixed-side .btn:hover {
  color: #68e0cf;
  border: 0.5px solid #68e0cf;
}

.center-side {
  color: white;
  font-weight: 600;
  width: 48.5%;
  left: 45.7%;
}

.center-side .box00 {
  width: 48%;
  left: 45%;
  height: 5rem;
  background: #373b40;
  z-index: 5;
}

.section1 {
  position: relative;
  width: 100%;
  height: 100vh;
}

.section1 .box1 {
  position: absolute;
  top: 10rem;
  left: -10rem;
  height: 15rem;
  width: 20rem;
  background: #373a40;
  border-radius: 200px;
  z-index: 2;
}

.section1 .box1 h1 {
  font-size: 3.7rem;
  font-weight: 900;
  line-height: 100px;
  width: 15rem;
}

.section1 .box2 {
  padding-top: 25rem;
  margin-left: 2rem;
}

.section1 .box2 h6 {
  color: #68e0cf;
  line-height: 3rem;
}

.section1 .box2 p {
  width: 30rem;
  color: #dddddd;
}

.box2 .button-group .btn1 {
  border: 1px solid #bdbdbd;
  width: 160px;
  padding: 15px 20px 15px 0px;
  border-radius: 50px;
  color: white;
  position: relative;
}

.box2 .button-group .btn1 span {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
  right: 20px;
}

.box2 .button-group .btn1:hover span {
  right: 15px;
}

.box2 .button-group .btn:hover {
  border: 1px solid #68e0cf;
  color: #68e0cf;
}

.box2 .button-group .btn2 {
  border-radius: 50%;
  font-size: 1.1rem;
  width: 55px;
  height: 55px;
  border: 1px solid #bdbdbd;
  color: white;
  position: relative;
}

.box2 .button-group .btn2 i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-name: tepapast;
          animation-name: tepapast;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes tepapast {
  0% {
    top: 20px;
  }
  100% {
    top: 35px;
  }
}

@keyframes tepapast {
  0% {
    top: 20px;
  }
  100% {
    top: 35px;
  }
}

hr {
  background: white;
}

.section2 {
  padding: 40px;
  line-height: 30px;
}

.box3 h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

.box3 p {
  text-transform: uppercase;
  color: #68e0cf;
}

.box4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  color: #dddddd;
}

.boxp {
  color: #dddddd;
  font-size: 1rem;
}

.box5 {
  color: #68e0cf;
}

.box5 p {
  text-transform: uppercase;
}

.box5 span {
  color: white;
  text-transform: capitalize;
  padding-left: 10px;
}

.section3 {
  padding: 40px;
}

.box6 div {
  margin: 30px 0;
}

.box6 div p {
  width: 260px;
}

.section4 {
  padding: 40px;
}

.box0110 .bi {
  font-size: 30px;
  color: #68e0cf;
}

.box0110 .btn1 {
  border: 1px solid #bdbdbd;
  width: 160px;
  padding: 15px 20px 15px 0px;
  border-radius: 50px;
  color: white;
  position: relative;
}

.box0110 .btn1 span {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
  right: 40px;
}

.box0110 .btn1:hover span {
  right: 25px;
}

.box0110 .btn:hover {
  border: 1px solid #68e0cf;
  color: #68e0cf;
}

s {
  color: silver;
}

.new {
  background: #68e0cf;
  padding: 3px;
}

.beforer {
  position: relative;
}

.beforer::before {
  content: "";
  background: white;
  width: 150px;
  height: 1px;
  position: absolute;
  top: 40px;
  right: -10%;
}

.section5 {
  padding: 40px;
}

.experience {
  position: relative;
}

.experience h6 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #68e0cf;
  position: absolute;
  left: -10px;
  top: 0;
  font-size: 0.8rem;
  height: 60px;
}

.experience h5 {
  font-weight: 900;
  margin-left: 50px;
}

.experience p {
  width: 270px;
}

.section6 {
  padding: 40px;
}

.span1121 {
  height: 3px;
  width: 100%;
  background: white;
}

.span1121 .span1122 {
  height: 3px;
  width: 85%;
  background: #68e0cf;
  position: relative;
}

.span1121 .span1122::before {
  content: "90%";
  position: absolute;
  bottom: 100%;
  right: -15%;
}

.span1121 .span1123 {
  height: 3px;
  width: 70%;
  background: #68e0cf;
  position: relative;
}

.span1121 .span1123::before {
  content: "70%";
  position: absolute;
  bottom: 100%;
  right: -15%;
}

.span1121 .span1124 {
  height: 3px;
  width: 90%;
  background: #68e0cf;
  position: relative;
}

.span1121 .span1124::before {
  content: "95%";
  position: absolute;
  bottom: 100%;
  right: -15%;
}

.span1121 .span1125 {
  height: 3px;
  width: 80%;
  background: #68e0cf;
  position: relative;
}

.span1121 .span1125::before {
  content: "85%";
  position: absolute;
  bottom: 100%;
  right: -15%;
}

.section7, .section8, .section9, .section10 {
  padding: 40px;
}

.language .mix p {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #68e0cf;
}

.language .mix p:nth-child(10) {
  background: gray;
}

.turi h3 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: none;
  border-top: 3px solid #68e0cf;
  border-bottom: 3px solid #68e0cf;
  border-right: 3px solid #68e0cf;
  font-size: 1.1rem;
  text-align: center;
  line-height: 90px;
}

.box7 {
  width: 750px;
  margin: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section10 {
  padding: 40px;
}

.section10 img {
  width: 100px;
}

.section11, .section12 {
  padding: 40px;
}

.box8 {
  text-align: center;
  position: relative;
}

.box8 img {
  height: 250px;
  width: 250px;
}

.box8 p {
  text-transform: uppercase;
  color: #68e0cf;
}

.box8 h5 {
  font-weight: 900;
  width: 250px;
}

.box8 div {
  display: none;
  height: 200px;
  width: 200px;
  background: #68e0cf;
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-65%);
          transform: translateY(-65%);
  -webkit-animation-name: div;
          animation-name: div;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.box8 div i {
  font-size: 2rem;
}

@-webkit-keyframes div {
  to {
    height: 200px;
    width: 200px;
  }
  from {
    height: 100px;
    width: 100px;
  }
}

@keyframes div {
  to {
    height: 200px;
    width: 200px;
  }
  from {
    height: 100px;
    width: 100px;
  }
}

.box8:hover .hov {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form .btn {
  border: 1px solid #bdbdbd;
  width: 160px;
  padding: 15px 20px 15px 0px;
  border-radius: 50px;
  color: white;
  position: relative;
  font-weight: 700;
  font-size: 0.8rem;
}

form .btn span {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
  right: 20px;
}

form .btn:hover span {
  right: 15px;
}

form .btn:hover {
  border: 1px solid #68e0cf;
  color: #68e0cf;
}

form input {
  width: 250px;
  height: 60px;
  border-radius: 50px;
  border: 0.5px solid gray;
  background: #373b40;
  margin: 10px 0;
  color: white;
}

form textarea {
  height: 150px;
  width: 250px;
  border-radius: 50px;
  border: 0.5px solid gray;
  background: #373b40;
  margin: 10px 0;
  color: white;
  text-align: left;
}

.box9 {
  border: 0.5px solid gray;
  border-radius: 50px;
  padding: 30px 5px;
}
/*# sourceMappingURL=main.css.map */