.center-side{
    color: white;
    font-weight: 600;
    width: 48.5%;
    left: 45.7%;
    // transform: translateX(0%);
    & .box00{
        width: 48%;
        left: 45%;
        height: 5rem;
        background: #373b40;
        z-index: -100;
    }
} 